.ti {
    --tblr-icon-size: 1.25rem;
    width: var(--tblr-icon-size);
    height: var(--tblr-icon-size);
    font-size: var(--tblr-icon-size);
}

.btn-icon .ti {
    width: var(--tblr-btn-icon-size);
    height: var(--tblr-btn-icon-size);
    min-width: var(--tblr-btn-icon-size);
    font-size: var(--tblr-btn-icon-size);
    margin: none;
    vertical-align: bottom;
    color: var(--tblr-btn-icon-color);
}

a:hover:has(.ti) {
    text-decoration: none;
}

.btn-floating-right {
    position: fixed;
    z-index: 1030;
    bottom: 1rem;
    right: 1rem;
    box-shadow: var(--tblr-shadow-dropdown);
}

.form-control.is-invalid {
    border-color: var(--tblr-form-invalid-border-color);
    padding-right: 1.375rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%23d63939' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.53125rem center;
    background-size: 0.8125rem 0.8125rem;
}
